hostname {{ inventory_hostname }}
!
{% for lo in dev.loopbacks + extra_loopbacks %}
interface {{ lo.name }}
 ipv4 address {{ lo.ipv4 | ansible.utils.ipaddr('address') }} {{ lo.ipv4 | ansible.utils.ipaddr('netmask') }}
!
{% endfor %}
{% for intf in dev.interfaces %}
interface {{ intf.name }}
 ipv4 address {{ intf.ipv4 | ansible.utils.ipaddr('address') }} {{ intf.ipv4 | ansible.utils.ipaddr('netmask') }}
!
{% endfor %}
router ospf {{ ospf.process_id }}
 router-id {{ dev.router_id }}
 area {{ ospf.area }}
{% for lo in dev.loopbacks + extra_loopbacks if lo.ospf | default(true) %}
  interface {{ lo.name }}
   passive enable
{% endfor %}
{% for intf in dev.interfaces %}
  interface {{ intf.name }}
   network point-to-point
{% endfor %}
!
{% if bgp is defined %}
router bgp {{ bgp.asn }}
 bgp router-id {{ dev.router_id }}
 address-family ipv4 unicast
{% for net in dev.bgp_networks | default([]) %}
  network {{ net }}
{% endfor %}
 !
{% for name, peer in devices.items() if name != inventory_hostname %}
 neighbor {{ peer.router_id }}
  remote-as {{ bgp.asn }}
  update-source Loopback0
  address-family ipv4 unicast
  !
 !
{% endfor %}
!
{% endif %}
